<section class="full-width-section text-center my-5">
  <div class="container">
      <h2 class="text-warning mb-4">Nuestra experiencia</h2>

      <div class="row justify-content-center">
          <div class="col-12 col-sm-6 col-md-4 mb-4">
              <div class="card card-stadistics p-4 rounded">
                  <h3 class="display-5 fw-bold countable">+150</h3>
                  <p class="mb-0">Clientes atendidos</p>
              </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 mb-4">
              <div class="card card-stadistics p-4 rounded">
                  <h3 class="display-5">Zona de trabajo</h3>
                  <p class="mb-0">Aguascalientes, Villa Hidalgo, Leon</p>
              </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 mb-4">
              <div class="card card-stadistics p-4 rounded">
                  <h3 class="display-5 fw-bold countable">+70</h3>
                  <p class="mb-0">Trabajos realizados</p>
              </div>
          </div>
      </div>
  </div>
</section>
